<%= form_for @post do |f| %>
  <% if current_user %>
    <%= f.hidden_field :user_id, value: current_user.id %>  
  <% end %>
<div class="field">
    <%= f.label :sound %><br />
    <%= f.file_field :sound %>
</div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
      <%= f.label :tags %><br />
      <%= f.text_field :tags %>
  </div>
  <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content %>
  </div>
  <div class="field">
      <%= f.label "Public?" %> <br />
      <%= f.check_box :public %> <br />
  </div><br>
    <%= f.submit %>
  </div>
<% end %>
