<h1>Posts</h1>
<% @posts.each do |post| %>
  <p>Subject: <%= post.title %></p>
  <!-- <p><%= post.tags %></p> -->
  <p>Body: <%= post.content %></p>
  <p>Sound Attachment: <%= post.sound.try :url %></p>
  <%= audio_tag post.sound.url %>
  <!-- <p><%= post.public %></p> -->
  <p>Uploaded By: <%= post.user.try :user_name %></p>
<% end %>