<!DOCTYPE html>
<html ng-app="earfulOfAngular">
<head>
  <title>Earful</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="FeedController as feed">
  <!-- <p class="notice"><%= notice%></p>
    <p class="alert"><%= alert%></p> -->
<%= yield %>
<div id="navigation">
<table>
<tr>
  <td id="feed" ng-click="loadFeed()">Feed</td>
  <td id="mySounds" ng-click="loadMyFeed()">My Sounds</td>
  <td id="settings">Settings</td>
</tr>
</table>
</div>
</body>
</html>
